@font-face {
  font-family: "Axiforma";
  src: url("@/assets/fonts/Kastelov - Axiforma Bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Axiforma";
  src: url("@/assets/fonts/Kastelov - Axiforma Bold Italic.otf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Axiforma";
  src: url("@/assets/fonts/Kastelov - Axiforma Medium Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Axiforma";
  src: url("@/assets/fonts/Kastelov - Axiforma Medium.otf");
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("@/assets/fonts/Kastelov - Axiforma Thin.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  src: url("@/assets/fonts/Rubik-SemiBold.ttf");
  font-weight: bold;
}

// fonts
$f--content : Roboto;
$f--btn : Rubik;

// Colors
$c--primary : #021C4C;
$c--secondary: #0097C4;
$c--secondary--light : #DDF6FF;
$bg-c--light-blue : #DDF6FF;

